In [59]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import linear_model
import matplotlib.pyplot as plt

In [60]:
df = pd.read_csv('data/Advertising.csv')
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [61]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [62]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [63]:
feature_cols = ['TV','radio', 'newspaper']

In [64]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [65]:
linear_reg = linear_model.LinearRegression()
linear_reg.fit(X_train, y_train)


y_pred = linear_reg.predict(X_test)

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
mean_squared_error(y_pred, y_test)

4.012497522917099

## Now I am testing how a scalar value affects the Cost Function Formula, wheter or not it matters, and if this image is a typo:

https://math.stackexchange.com/questions/2202545/why-using-squared-distances-in-the-cost-function-linear-regression

In [81]:
def MSE(y_test, y_pred):
    return ((1/(len(y_test))))* (sum((y_pred - y_test)**2))

In [82]:
print(MSE(y_test,y_pred))

4.0124975229171005

In [83]:
def N_MSE(y_test, y_pred):
    return ((1/(2*(len(y_test)))))* (sum((y_pred - y_test)**2))

In [84]:
print(N_MSE(y_test,y_pred)) # Exactly half of the actual MSE

2.0062487614585502