In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv("../data/Wholesale_customers_data.csv")
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [6]:
channel = df["Channel"]
# channel

In [7]:
df.drop(["Channel", "Region"], axis=1, inplace=True)

In [8]:
df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y) # Split our data

NameError: name 'X' is not defined

In [ ]:
from sklearn import preprocessing
import numpy as np
X_scaled = preprocessing.scale(X_train)
X_scaled